body {
  background: radial-gradient(rgb(153, 51, 0), rgb(102, 34, 0) 5%, rgb(26, 9, 0) 10%);
  background-size: 15px 15px;
  background-repeat: repeat;
}

#menu {
   margin: 100px auto;
   width:300px;
}

#nav {
  overflow:visible !important;
	position:relative;
  transition:all 2s ease-out;
}

ul {
  margin:0 0;
	padding:0 0;
  list-style-type: none;
  transform: scale(0.2);
  transition:all 10s ease-in-out;
}

li {
  float:left;
  display: inline;
  box-shadow: -650px 500px 0 #ff7f50, 200px -100px 0 #ffd452, 300px 100px 0 #52ffa8, 700px -500px 0 	#006080;
  transition:all 10s ease-in-out;
  opacity: 0.4;
}

a {
  display: block;
  background-color: #1a0d00;
	color:  #cc4400;
  text-decoration:none;
	width:100px;
	height:100px;
  font:bold 16px/100px 'Arial Narrow',Arial,Sans-Serif;
	text-transform:uppercase;
	text-align:center;
  transition:all 0.4s ease-out;

}

li:nth-child(1) {
  transform:rotate(-370deg) translate(400px,200px); }
li:nth-child(2) {
  transform:rotate(-70deg) translate(100px,50px); }

li:nth-child(3) {
  transform:rotate(-180deg) translate(800px,-250px); }

li:nth-child(4) {
  transform:rotate(80deg) translate(400px,250px); }

li:nth-child(5) {
  transform:rotate(45deg) translate(-400px,150px); }
li:nth-child(6) {
  transform:rotate(-45deg) translate(-1200px,-250px); }
li:nth-child(7) {
  transform:rotate(250deg) translate(500px,150px); }
li:nth-child(8) {
  transform:rotate(-250deg) translate(400px,150px); }
li:nth-child(9) {
  transform:rotate(50deg) translate(600px,150px); }

#open {
	display:none;
}

label {
  background-color: #8b4727;
  padding:7px 0;
	position:absolute;
  top:0;
	right:0;
	left:0;
  cursor:pointer;
	text-align:center;
	text-shadow:0 1px 3px black;
  color: white;
  font:bold 12px Arial,Sans-Serif;
  z-index: 1;
  }

  label:hover,
  #open:checked + label {
	background-color: #9f492d;
}
  label:active {
	background-color: #2d9f83;
	color:black;
	text-shadow:none;
}

 label:before {
	content:"Bring Together All the Pieces!";
}

#open:checked + label:before {
  content:"Explode the Menu";
}

#open:checked ~ nav ul {
  transform: scale(1); }

#open:checked ~ nav li {
	opacity:1;
  box-shadow: none;
  transform:rotate(0deg) translate(0px,0px);}

  #open:checked ~ nav a {
	width:98px;
  height:98px;
  background-color: #ffcc66;
  background-image: -webkit-linear-gradient(top, white, #ffcc66);
  border:1px solid transparent;
  border-color:rgba(255,255,255,0.2) rgba(0,0,0,0.2) rgba(0,0,0,0.2) rgba(255,255,255,0.2);
  }

#open:checked ~ nav:hover a {
  transform:scale(0.5) rotate(260deg);}

#open:checked ~ nav:hover a:hover {
	background-color: #D7460D;
  color:gold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  transform:scale(1.1) rotate(360deg);}
